openapi: 3.1.0
info:
  title: Kanał B2B dla zgłaszania danych strukturalnych
  description: Opis komunikatów przyjmowanych przez aplikację PWDS poprzez kanał B2B
  version: "1.0.0"
servers:
  - url: https://b2b.pse.pl
    description: Serwer B2B PSE
security:
  - Bearer-Auth: []
tags:
  - name: Operacje linii wyprowadzenia mocy
    description: Standardowe operacje dotyczące zgłoszeń linii wyprowadzenia mocy
  - name: Operacje sprzęgła
    description: Standardowe operacje dotyczące zgłoszeń sprzęgła
  - name: Operacje wspólne rejestracji
    description: Standardowe operacje dotyczące zgłoszeń rejestracji
  - name: Operacje rozdzielni
    description: Standardowe operacje dotyczące zgłoszeń rozdzielni
  - name: Operacje filtra
    description: Standardowe operacje dotyczące zgłoszeń filtra
  - name: Operacje stacji elektroenergetycznej
    description: Standardowe operacje dotyczące zgłoszeń stacji elektroenergetycznej
  - name: Operacje szyny
    description: Standardowe operacje dotyczące zgłoszeń szyny
  - name: Operacje linii elektroenergetycznej
    description: Standardowe operacje dotyczące zgłoszeń linii elektroenergetycznej
  - name: Operacje transformatora
    description: Standardowe operacje dotyczące zgłoszeń transformatora
  - name: Operacje baterii kondensatora
    description: Standardowe operacje dotyczące zgłoszeń baterii kondensatora
  - name: Operacje Pola
    description: Standardowe operacje dotyczące zgłoszeń rejestracyjnych i strukturalnych
      pola
  - name: Operacje ZWE
    description: Standardowe operacje dotyczące zgłoszeń ZWE
  - name: Operacje Sumy A
    description: Standardowe operacje dotyczące zgłoszeń Sum A
  - name: Operacje dławika kompensacyjnego
    description: Standardowe operacje dotyczące zgłoszeń  dławika kompensacyjnego
  - name: Operacje MWE
    description: Standardowe operacje dotyczące zgłoszeń MWE
  - name: Operacje wspólne strukturalne
    description: Standardowe operacje dotyczące zgłoszeń strukturalnych
  - name: Operacje magazynu
    description: Standardowe operacje dotyczące zgłoszeń magazynów
paths:
  /switchgear/registration:
    post:
      tags:
        - Operacje rozdzielni
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: switchgear-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchgearRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /switchgear/change:
    post:
      tags:
        - Operacje rozdzielni
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: switchgear-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchgearChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /sum-a/registration:
    post:
      tags:
        - Operacje Sumy A
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: sum-a-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SumARegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /sum-a/change:
    post:
      tags:
        - Operacje Sumy A
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: sum-a-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SumAChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /substation/registration:
    post:
      tags:
        - Operacje stacji elektroenergetycznej
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: substation-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubstationRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /substation/change:
    post:
      tags:
        - Operacje stacji elektroenergetycznej
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: substation-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubstationChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /storage/registration:
    post:
      tags:
        - Operacje magazynu
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: storage-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /storage/change:
    post:
      tags:
        - Operacje magazynu
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: storage-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-filter/registration:
    post:
      tags:
        - Operacje filtra
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: shunt-filter-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuntFilterRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-filter/change:
    post:
      tags:
        - Operacje filtra
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: shunt-filter-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuntFilterChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-compensator/registration:
    post:
      tags:
        - Operacje dławika kompensacyjnego
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: shunt-compensator-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuntCompensatorRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-compensator/change:
    post:
      tags:
        - Operacje dławika kompensacyjnego
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: shunt-compensator-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuntCompensatorChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-capacitors/registration:
    post:
      tags:
        - Operacje baterii kondensatora
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: shunt-capacitors-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuntCapacitorsRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-capacitors/change:
    post:
      tags:
        - Operacje baterii kondensatora
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: shunt-capacitors-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuntCapacitorsChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-transformer/registration:
    post:
      tags:
        - Operacje transformatora
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: power-transformer-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerTransformerRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-transformer/change:
    post:
      tags:
        - Operacje transformatora
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: power-transformer-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerTransformerChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-output-lines/registration:
    post:
      tags:
        - Operacje linii wyprowadzenia mocy
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: power-output-lines-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerOutputLinesRegistration"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-output-lines/change:
    post:
      tags:
        - Operacje linii wyprowadzenia mocy
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: power-output-lines-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerOutputLinesChange"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-line/registration:
    post:
      tags:
        - Operacje linii elektroenergetycznej
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: power-lines-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerLinesRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-line/change:
    post:
      tags:
        - Operacje linii elektroenergetycznej
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: power-lines-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerLinesChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /mwe/registration:
    post:
      tags:
        - Operacje MWE
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: mwe-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistrationRequestRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /mwe/change:
    post:
      tags:
        - Operacje MWE
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: mwe-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeRequestRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /facility/registration:
    post:
      tags:
        - Operacje ZWE
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: facility-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /facility/change:
    post:
      tags:
        - Operacje ZWE
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: facility-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /coupler/registration:
    post:
      tags:
        - Operacje sprzęgła
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: coupler-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CouplerRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /coupler/change:
    post:
      tags:
        - Operacje sprzęgła
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: coupler-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CouplerChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /busbar-section/registration:
    post:
      tags:
        - Operacje szyny
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: busbar-section-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusbarSectionRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /busbar-section/change:
    post:
      tags:
        - Operacje szyny
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: busbar-section-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusbarSectionChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /bay/registration:
    post:
      tags:
        - Operacje Pola
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: bay-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BayRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /bay/change:
    post:
      tags:
        - Operacje Pola
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: bay-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BayChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /switchgear/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje rozdzielni
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: switchgear-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /sum-a/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje Sumy A
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: sum-a-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /substation/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje stacji elektroenergetycznej
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: substation-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /storage/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje magazynu
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: storage-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-filter/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje filtra
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: shunt-filter-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-compensator/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje dławika kompensacyjnego
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: shunt-compensator-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /shunt-capacitors/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje baterii kondensatora
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: shunt-capacitors-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-transformer/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje transformatora
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: power-transformer-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-output-lines/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje linii wyprowadzenia mocy
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: power-output-lines-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /power-line/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje linii elektroenergetycznej
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: power-lines-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /mwe/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje MWE
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: mwe-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /facility/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje ZWE
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: facility-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /coupler/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje sprzęgła
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: coupler-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /common/registration/{restSubmitRequestUid}/status:
    get:
      tags:
        - Operacje wspólne rejestracji
      summary: Sprawdzenie statusu zgłoszenia rejestracyjnego
      operationId: common-registration-get-registration-request-status
      parameters:
        - name: restSubmitRequestUid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pobranie statusu dla zgłoszenia po uuid zgłoszenia
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitStatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /common/change/{restSubmitRequestUid}/status:
    get:
      tags:
        - Operacje wspólne strukturalne
      summary: Sprawdzenie statusu zgłoszenia strukturalnego
      operationId: common-change-get-change-request-status
      parameters:
        - name: restSubmitRequestUid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pobranie statusu dla zgłoszenia po uuid zgłoszenia
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestSubmitStatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /busbar-section/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje szyny
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: busbar-section-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
  /bay/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje Pola
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: bay-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestResponse"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseErrorResponse"
components:
  schemas:
    BusinessPartnerRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator partnera biznesowego
          example: 10101
    DefenseReconstruction:
      type: object
      description: Obrona i odbudowa
      properties:
        isInKseReconstructionPlan:
          type: string
          description: "Rozdzielnia istotna w planie odbudowy KSE, domyślnie Tak"
          enum:
            - T
            - "N"
          example: T
    FileUpload:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: ID pliku w systemie PWDS
          example: 100
        object:
          type: string
          description: Unikatowy identyfikator pliku (nazwa obiektu) w systemie PWDS
          example: bfca7b1e-5b86-4b37-9b3f-4c81b8d5c848_dane.txt
        objectMrid:
          type: string
          description: Identyfikator obiektu związanego z plikiem
          example: _f557b5b8-8615-4100-955a-08bb28c7637e
        originalFileName:
          type: string
          description: Oryginalna nazwa pliku
          example: dane.txt
        createdTs:
          type: string
          format: date-time
          description: Data dodania
        origin:
          type: string
          description: Źródło pliku
          enum:
            - PWDS
            - RBES
          example: PWDS
    NominalVoltageRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID nominalnego napięcia
          example: _075cdeec-0137-4eb9-b35c-543d5fcb1705
    RegistrationTerms:
      type: object
      properties:
        operationStartDate:
          type: string
          format: date
          description: Data wprowadzenia do eksploatacji
          example: 2024-11-01
        operationEndDate:
          type: string
          format: date
          description: Data zakończenia eksploatacji
          example: 2025-10-31
      required:
        - operationStartDate
    SubstationRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID stacji
      required:
        - mrid
    SwitchgearRegistrationParamsRequest:
      type: object
      description: "Zgłoszenie rejestracji rozdzielni - parametry, żądanie"
      properties:
        substation:
          $ref: "#/components/schemas/SubstationRequest"
          description: Identyfikator MRID stacji
          example: _f402adb8-1553-4d4a-946a-20e9b67b0ba8
        voltage:
          $ref: "#/components/schemas/NominalVoltageRequest"
          description: Identyfikator MRID napięcia znamionowego rozdzielni
          example: _a24bbc66-812e-40b0-9076-32ed1d74b6a6
        code:
          type: string
          description: Kod rozdzielni
          example: NWW55
          maxLength: 8
          minLength: 5
        name:
          type: string
          description: Nazwa pełna rozdzielni
          example: Nowa Wieś Wielka 15 kV
          maxLength: 65
          minLength: 1
        owningBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy - właściciel
          example: 19000
        businessPartnerCountryId:
          type: string
          description: Identyfikator partnera biznesowego - kod kraju
          example: PL
        odmBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy - ODM/TSO
          example: 19030
        osdpBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy - Oddział OSDp 1
          example: 19000
        osdpBusinessPartner2:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy - Oddział OSDp 2
          example: 10277
        osdnBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy - OSDn
          example: 10277
        sesaId:
          type: integer
          format: int64
          description: Identyfikator podobszaru KSE
          example: 15
        latitude:
          type: string
          description: "Szerokość geograficzna [N] DD F"
          example: 50.0
          pattern: "\\d{2}\\.\\d{6}"
        longitude:
          type: string
          description: "Długość geograficzna [E] DD F"
          example: 15.0
          pattern: "\\d{2}\\.\\d{6}"
        diagramFileUploadInfo:
          $ref: "#/components/schemas/FileUpload"
          description: "Plik w systemie MinIO PWDS: Schemat i układ pracy rozdzielni"
      required:
        - businessPartnerCountryId
        - code
        - latitude
        - longitude
        - name
        - odmBusinessPartner
        - osdpBusinessPartner
        - owningBusinessPartner
        - substation
        - voltage
    SwitchgearRegistrationRequest:
      type: object
      description: "Zgłoszenie rejestracji rozdzielni, żądanie"
      properties:
        registrationTerms:
          $ref: "#/components/schemas/RegistrationTerms"
          description: Istotne daty
        basicData:
          $ref: "#/components/schemas/SwitchgearRegistrationParamsRequest"
          description: Dane podstawowe
        defenseReconstruction:
          $ref: "#/components/schemas/DefenseReconstruction"
          description: Obrona i odbudowa
    RestSubmitResponse:
      type: object
      properties:
        restSubmitRequestUid:
          type: string
          format: uuid
          description: "Unikalne ID nadane przez system PSE, które służy do identyfikacji\
            \ procesu przesłania zgłoszenia"
          example: 550e8400-e29b-41d4-a716-446655440000
      required:
        - restSubmitRequestUid
    BaseErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Ogólne podsumowanie błędu
        violations:
          type: array
          description: Lista błędów szczegółowych
          items:
            type: string
    SwitchgearChangeRequest:
      type: object
      description: "Zgłoszenie strukturalne rozdzielni, żądanie"
      properties:
        registrationTerms:
          $ref: "#/components/schemas/RegistrationTerms"
          description: Istotne daty
        basicData:
          $ref: "#/components/schemas/SwitchgearRegistrationParamsRequest"
          description: Dane podstawowe
        defenseReconstruction:
          $ref: "#/components/schemas/DefenseReconstruction"
          description: Obrona i odbudowa
        objectMrid:
          type: string
        validFromDate:
          type: string
          format: date
    FuelTypeRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator typu źródła energii pierwotnej
          example: 1
      required:
        - id
    PowerTransformerEndRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID uzwojenia tranformatora
      required:
        - mrid
    SumARegistrationRequest:
      type: object
      description: Zgłoszenie sum A
      properties:
        dateFor:
          type: string
          format: date
          description: Data obowiązywania parametrów sumy MWE typu A
          example: 2024-11-01
        osdpBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Oddział OSDp
        osdnBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy OSDn
        odmBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: ODM
        sumAggregates:
          type: array
          description: Agregaty Sum A per uzwojenie transformatora
          items:
            $ref: "#/components/schemas/SumAggregate"
      required:
        - dateFor
    SumAggregate:
      type: object
      description: Agregat Sum A dla uzwojenia transformatora
      properties:
        powerTransformerEndRequestDto:
          $ref: "#/components/schemas/PowerTransformerEndRequest"
          description: Uzwojenie transformatora
        sums:
          type: array
          description: Sumy A dla poszczególnych typów
          items:
            $ref: "#/components/schemas/SumPerType"
          minItems: 1
      required:
        - powerTransformerEndRequestDto
        - sums
    SumPerType:
      type: object
      description: Obiekt agregujący sumy A dla danego źródła energii
      properties:
        type:
          $ref: "#/components/schemas/FuelTypeRequest"
          description: Typ źródła energii
        sumLess10kw:
          type: number
          description: "Suma mocy zainstalowanej dla Pz <= 10kW [MW]"
          maximum: 999999.99
          minimum: 0
        sumLess10to50kw:
          type: number
          description: "Suma mocy zainstalowanej dla 10 < Pz <= 50kW [MW]"
          maximum: 999999.99
          minimum: 0
        sumLess50to200kw:
          type: number
          description: "Suma mocy zainstalowanej dla 50 < Pz < 200kW [MW]"
          maximum: 999999.99
          minimum: 0
      required:
        - type
    SumAChangeRequest:
      type: object
      description: Zgłoszenie aktualizacji sum A
      properties:
        dateFor:
          type: string
          format: date
          description: Data obowiązywania parametrów sumy MWE typu A
          example: 2024-11-01
        osdpBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Oddział OSDp
        osdnBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy OSDn
        odmBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: ODM
        sumAggregates:
          type: array
          description: Agregaty Sum A per uzwojenie transformatora
          items:
            $ref: "#/components/schemas/SumAggregate"
      required:
        - dateFor
    DictionaryRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator wartości słownikowej
          example: 1
      required:
        - id
    SubstationBasicDataRequest:
      type: object
      properties:
        code:
          type: string
          description: Kod stacji
          maxLength: 4
          minLength: 3
        name:
          type: string
          description: Nazwa stacji
          maxLength: 60
          minLength: 1
        businessPartnerCountryId:
          type: string
          description: Kraj
          pattern: ^PL$
        substationType:
          $ref: "#/components/schemas/DictionaryRequest"
          description: Typ stacji
        owningBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Właściciel
        osdpBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Oddział OSDp
        osdnBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Partner biznesowy OSDn
        odmBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: ODM
        latitude:
          type: number
          format: double
          description: Szerokość geograficzna
          example: 50.0
          maximum: 56.0
          minimum: 49.0
        longitude:
          type: number
          format: double
          description: Długość geograficzna
          example: 15.0
          maximum: 25.0
          minimum: 15.0
      required:
        - businessPartnerCountryId
        - code
        - latitude
        - longitude
        - name
        - odmBusinessPartner
        - osdpBusinessPartner
        - owningBusinessPartner
        - substationType
    SubstationRegistrationRequest:
      type: object
      description: Zgłoszenie rejestracji stacji elektroenergetycznej
      properties:
        registrationTerms:
          $ref: "#/components/schemas/RegistrationTerms"
          description: Istotne terminy
        basicData:
          $ref: "#/components/schemas/SubstationBasicDataRequest"
          description: Dane podstawowe
      required:
        - basicData
        - registrationTerms
    SubstationChangeRequest:
      type: object
      description: Zgłoszenie strukturalne stacji elektroenergetycznej
      properties:
        registrationTerms:
          $ref: "#/components/schemas/RegistrationTerms"
          description: Zgłoszenie strukturalne stacji elektroenergetycznej - istotne
            terminy
        basicData:
          $ref: "#/components/schemas/SubstationBasicDataRequest"
          description: Zgłoszenie strukturalne stacji elektroenergetycznej - dane
            podstawowe
      required:
        - basicData
        - registrationTerms
    BayRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID pola
      required:
        - mrid
    BusbarSectionRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID węzła/sekcji szyny zbiorczej
    FacilityRegistrationIdentificationRequest:
      type: object
      properties:
        isEsp:
          type: string
          description: "Czy jest elektrownią szczytowo-pompową (typ ESP) [T/N]"
          enum:
            - T
            - "N"
          example: T
        autonomousStartAbility:
          type: string
          description: "Czy posiada zdolność do rozruchu autonomicznego? [T/N]"
          enum:
            - T
            - "N"
          example: "N"
        code:
          type: string
          description: Kod ZWE nadawany wg. Instrukcji kodowania obiektów KSE
          maxLength: 8
          minLength: 3
          pattern: "^[a-zA-Z0-9][a-zA-Z0-9_]+$"
        name:
          type: string
          description: Nazwa ZWE
          maxLength: 64
          minLength: 0
        owner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Dane identyfikacyjne właściciela
      required:
        - autonomousStartAbility
        - code
        - isEsp
        - name
        - owner
    FacilityRegistrationRequest:
      type: object
      description: Zgłoszenie ZWE
      properties:
        facilityRegistrationTerms:
          $ref: "#/components/schemas/FacilityRegistrationTerms"
          description: Istotne terminy
        facilityRegistrationIdentification:
          $ref: "#/components/schemas/FacilityRegistrationIdentificationRequest"
          description: Dane identyfikacyjne
      required:
        - facilityRegistrationIdentification
        - facilityRegistrationTerms
    FacilityRegistrationTerms:
      type: object
      properties:
        operationStartDate:
          type: string
          format: date
          description: Data rozpoczęcia eksploatacji
          example: 2024-11-01
        operationEndDate:
          type: string
          format: date
          description: Data wycofania z eksploatacji
          example: 2025-10-31
      required:
        - operationStartDate
    GenerationTechnologyRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator technologii wytwarzania i magazynowania energii
          example: 1
      required:
        - id
    GeneratorAggregateRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID agregatu MWE
    MridRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID obiektu
          example: _ffffffff-aaaa-bbbb-cccc-000000000001
    PowerTransformerRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID tranformatora
      required:
        - mrid
    StorageConnectionPointRequest:
      type: object
      description: Miejsce przyłączenia
      properties:
        bay:
          $ref: "#/components/schemas/BayRequest"
          description: Pole
        busbarSection:
          $ref: "#/components/schemas/BusbarSectionRequest"
          description: Węzeł/sekcja szyn zbiorczych
        powerTransformer:
          $ref: "#/components/schemas/PowerTransformerRequest"
          description: Transformator
        powerTransformerEnd:
          $ref: "#/components/schemas/PowerTransformerEndRequest"
          description: Uzwojenie transformatora
        locationDesc:
          type: string
          description: Opis lokalizacji w sieci
        mappingPointMarker:
          type: string
          description: "Miejsce odwzorowania [T/N]"
          enum:
            - T
            - "N"
          example: T
        substation:
          $ref: "#/components/schemas/SubstationRequest"
          description: Stacja elektroenergetyczna
        switchgear:
          $ref: "#/components/schemas/SwitchgearRequest"
          description: Rozdzielnia
        nominalVoltage:
          $ref: "#/components/schemas/NominalVoltageRequest"
          description: Napięcie
        ppeCode:
          type: string
          description: Kod PPE
          maxLength: 32
          minLength: 0
        storageCpPpe:
          type: array
          description: Lista kodów PPE punktu przyłączenia
          items:
            $ref: "#/components/schemas/StorageCpPpeRequest"
    StorageCpPpeRequest:
      type: object
      description: Kod PPE punktu przyłączenia - zapytanie
      properties:
        ppeCode:
          type: string
          description: Kod PPE
          example: 64352828671907423769123497363232
          maxLength: 32
          minLength: 0
    StorageGeneratorCodeRequest:
      type: object
      description: "MEE (magazyn energii): kod generatora - zapytanie"
      properties:
        generatorCode:
          type: string
          description: Kod generatora
          example: KLE45S21
          maxLength: 8
          minLength: 8
        generatorAggregate:
          $ref: "#/components/schemas/GeneratorAggregateRequest"
          description: Agregat
        synchrMachineRepresentationPoint:
          $ref: "#/components/schemas/StorageSynchrMachineRepresentationPointRequest"
          description: Miejsce odwzorowania generatora
      required:
        - generatorCode
    StorageIdentificationRequest:
      type: object
      description: Dane identyfikacyjne MEE
      properties:
        code:
          type: string
          description: Kod MEE
          maxLength: 64
          minLength: 1
        name:
          type: string
          description: Nazwa MEE
          maxLength: 64
          minLength: 1
        businessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Właściciel
        facility:
          $ref: "#/components/schemas/MridRequest"
          description: Identyfikator mRID zakładu wytwarzania energii
        facilityUnavailable:
          type: boolean
          description: Pomocnicza wartość techniczna - czy ZWE jest dostępne na liście
      required:
        - businessPartner
        - code
        - name
    StorageImportantDates:
      type: object
      description: Istotne terminy
      properties:
        ionDate:
          type: string
          format: date
          description: Data przyłączenia MEE do sieci
          example: 2020-09-29
        confirmed:
          type: string
          description: Potwierdzona
          enum:
            - T
            - "N"
        plannedExploatationFinishDate:
          type: string
          format: date
          description: Data zakończenia eksploatacji
          example: 2020-09-29
      required:
        - ionDate
    StorageLocationRequest:
      type: object
      description: "MEE (magazyn energii): dane lokalizacyjne - zapytanie"
      properties:
        odmBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: ODM
        osdpBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: Oddział OSDp
        osdnBusinessPartner:
          $ref: "#/components/schemas/BusinessPartnerRequest"
          description: OSDn
        latitude:
          type: string
          description: "Szerokość geograficzna [N] DD F"
          example: 50.0
          pattern: "\\d{2}\\.\\d{6}"
        longitude:
          type: string
          description: "Długość geograficzna [E] DD F"
          example: 15.0
          pattern: "\\d{2}\\.\\d{6}"
      required:
        - latitude
        - longitude
        - odmBusinessPartner
        - osdpBusinessPartner
    StorageMarkers:
      type: object
      description: Znaczniki
      properties:
        autogenerationMarker:
          type: string
          description: Autogeneracja
          enum:
            - T
            - "N"
        plannedOnLevel:
          type: string
          description: Planowane na poziomie
          enum:
            - MWE_SUM
            - MEE
            - ZWE
            - ERROR
      required:
        - autogenerationMarker
    StoragePowerParamsRequest:
      type: object
      description: Parametry mocowe
      properties:
        chargePowMaxNet:
          type: number
          description: "Moc maksymalna ładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        chargePowMinNet:
          type: number
          description: "Moc minimalna ładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        chargePowInstGross:
          type: number
          description: "Moc zainstalowana ładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        chargePowConn:
          type: number
          description: "Moc przyłączeniowa ładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        dischargePowMaxNet:
          type: number
          description: "Moc maksymalna rozładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        dischargePowMinNet:
          type: number
          description: "Moc minimalna rozładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        dischargePowInstGross:
          type: number
          description: "Moc zainstalowana rozładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        dischargePowConn:
          type: number
          description: "Moc przyłączeniowa rozładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        chargeEfficiency:
          type: number
          description: "Sprawność cyklu ładowania [%]"
          example: 100.0
          maximum: 100.00
          minimum: 0
        dischargeEfficiency:
          type: number
          description: "Sprawność cyklu rozładowania [%]"
          example: 100.0
          maximum: 100.00
          minimum: 0
        capacity:
          type: number
          description: "Pojemność znamionowa [MWh]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        usableCapacity:
          type: number
          description: "Pojemność użytkowa [MWh]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        storageTechnology:
          $ref: "#/components/schemas/GenerationTechnologyRequest"
          description: Technologia magazynowania energii elektrycznej Magazynu
        chargeApparentPower:
          type: number
          description: "Moc pozorna ładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        dischargeApparentPower:
          type: number
          description: "Moc pozorna rozładowania [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        nominalCapSingleStorageUnit:
          type: number
          description: "Pojemność znamionowa pojedynczej jednostki magazynującej [MWh]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        minimumChargeLevel:
          type: number
          description: "Minimalny stopień naładowania [%]"
          example: 100.0
          maximum: 100.00
          minimum: 0
        maximumChargeLevel:
          type: number
          description: "Maksymalny stopień naładowania [%]"
          example: 100.0
          maximum: 100.00
          minimum: 0
        unitsNumber:
          type: integer
          format: int32
          description: Liczba jednostek magazynujących wchodzących w skład MEE
          example: 123
          maximum: 999999
          minimum: 0
        maxNumberFullOperatingCycles:
          type: integer
          format: int32
          description: Maksymalna liczba pełnych cykli pracy MEE
          example: 123
          maximum: 999
          minimum: 0
        chargeMaxPermPowChangeRate:
          type: number
          description: "Maksymalna dopuszczalna szybkość zmian mocy ładowania [MW/min]"
          example: 123.123
          maximum: 999.999
          minimum: 0
        chargeMinPermPowChangeRate:
          type: number
          description: "Minimalna dopuszczalna szybkość zmian mocy ładowania [MW/min]"
          example: 123.123
          maximum: 999.999
          minimum: 0
        dischargeMaxPermPowChangeRate:
          type: number
          description: "Maksymalna dopuszczalna szybkość zmian mocy rozładowania [MW/min]"
          example: 123.123
          maximum: 999.999
          minimum: 0
        dischargeMinPermPowChangeRate:
          type: number
          description: "Minimalna dopuszczalna szybkość zmian mocy rozładowania [MW/min]"
          example: 123.123
          maximum: 999.999
          minimum: 0
        demandCoverGenOwnNeedsMw:
          type: number
          description: "Zapotrzebowanie na moc elektryczną w celu pokrycia potrzeb\
            \ ogólnych MEE oraz potrzeb własnych MEE [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        demandCoverGenOwnNeedsGwha:
          type: number
          description: "Zapotrzebowanie roczne na moc elektryczną w celu pokrycia\
            \ potrzeb ogólnych MEE oraz potrzeb własnych MEE [GWh/a]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
        maxAnnualRecFedGrid:
          type: number
          description: "Maksymalna roczna ilości energii elektrycznej odbieranej z\
            \ sieci oraz oddawanej do sieci [GWh/a]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0
      required:
        - capacity
        - chargeEfficiency
        - chargePowMaxNet
        - dischargeEfficiency
        - dischargePowConn
        - dischargePowInstGross
        - dischargePowMaxNet
        - storageTechnology
        - usableCapacity
    StorageRegistrationRequest:
      type: object
      description: Zgłoszenie rejestracji magazynu energii - zapytanie
      properties:
        terms:
          $ref: "#/components/schemas/StorageImportantDates"
          description: Istotne terminy
        connectionPoints:
          type: array
          description: Identyfikacja miejsca przyłączenia
          items:
            $ref: "#/components/schemas/StorageConnectionPointRequest"
        generatorCodes:
          type: array
          description: Kody generatora (relacja magazynów do generatorów - klasa SM)
          items:
            $ref: "#/components/schemas/StorageGeneratorCodeRequest"
        location:
          $ref: "#/components/schemas/StorageLocationRequest"
          description: Dane lokalizacyjne
        identification:
          $ref: "#/components/schemas/StorageIdentificationRequest"
          description: Dane identyfikacyjne MWE
        markers:
          $ref: "#/components/schemas/StorageMarkers"
          description: Znaczniki
        powerParams:
          $ref: "#/components/schemas/StoragePowerParamsRequest"
          description: Parametry mocowe
        facility:
          $ref: "#/components/schemas/FacilityRegistrationRequest"
          description: Rejestracja ZWE (jeśli niedostępne na liście)
    StorageSynchrMachineRepresentationPointRequest:
      type: object
      description: "MEE (magazyn energii): miejsce odwzorowania generatora - zapytanie"
      properties:
        substation:
          $ref: "#/components/schemas/SubstationRequest"
          description: Stacja elektroenergetyczna
        switchgear:
          $ref: "#/components/schemas/SwitchgearRequest"
          description: Rozdzielnia
        powerTransformer:
          $ref: "#/components/schemas/PowerTransformerRequest"
          description: Transformator
        powerTransformerEnd:
          $ref: "#/components/schemas/PowerTransformerEndRequest"
          description: Uzwojenie transformatora
      required:
        - powerTransformer
        - powerTransformerEnd
    SwitchgearRequest:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID rozdzielni
      required:
        - mrid
    AutonomousStart:
      type: object
      description: Rozruch autonomiczny
      properties:
        autonomousStartAbility:
          type: string
          description: Zdolność do rozruchu autonomicznego
          enum:
            - T
            - "N"
          example: T
        timeUntilVoltageOnSwitchgear:
          type: integer
          format: int32
          description: Czas podania napięcia na rozdzielnię sieciową w stanie beznapięciowym
          example: T
          maximum: 9999
          minimum: 0
        ownNeedsPowerSourcePower:
          type: number
          description: "Moc źródła awaryjnego zasilania potrzeb własnych [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0.000
        maxTimePowerAggregateNoFuel:
          type: integer
          format: int32
          description: Maksymalny czas pracy zasilania awaryjnego przy braku dostaw
            paliwa z zewnątrz
          example: 12
          maximum: 9999999
          minimum: 0
        aggregateFuelSupply:
          type: string
          description: Zapewnienie dostaw paliwa dla agregatu
          enum:
            - ARMY
            - OWN
            - LOCAL_CRISIS_TEAM
          example: ARMY
      required:
        - timeUntilVoltageOnSwitchgear
    BaseLoadAndRrRequest:
      type: object
      properties:
        regulationRange:
          type: number
          description: Zakres regulacji (Pmax-Pmin)
          example: 1234.123
          maximum: 9999.999
          minimum: 0.000
        abilityToBaseLoadCons:
          type: string
          description: Zdolność do realizacji obciążenia bazowego w kierunku naboru
            (T/N)
          enum:
            - T
            - "N"
          example: T
        gradientOfBaseLoadCons:
          type: number
          description: Gradient zmian obciążenia bazowego w kierunku naboru
          example: 123.123
          maximum: 999.999
          minimum: 0.000
        abilityOfRrgReserve:
          type: string
          description: Zdolność do Rezerwy RRG (T/N)
          enum:
            - T
            - "N"
          example: T
        maxRrgReserveRange:
          type: number
          description: Maksymalny zakres rezerwy RRG
          example: 123.123
          maximum: 999.999
          minimum: 0.000
        abilityToBaseLoadReduction:
          type: string
          description: Zdolność do realizacji obciążenia bazowego w kierunku redukcji
            (T/N)
          enum:
            - T
            - "N"
          example: T
        gradientOfBaseLoadReduction:
          type: number
          description: Gradient zmian obciążenia bazowego w kierunku redukcji
          example: 123.123
          maximum: 999.999
          minimum: 0.000
        abilityOfRrdReserve:
          type: string
          description: Zdolność do Rezerwy RRD (T/N)
          enum:
            - T
            - "N"
          example: T
        maxRrdReserveRange:
          type: number
          description: Maksymalny zakres rezerwy RRD
          example: 123.123
          maximum: 999.999
          minimum: 0.000
      required:
        - regulationRange
    ConnectionPointDeviceOverfrequencyConnectionPointSafeguardFGen:
      type: object
      properties:
        connectionPointIds:
          type: array
          items:
            type: integer
            format: int64
          maxItems: 4
          minItems: 1
        safeguards:
          type: array
          items:
            $ref: "#/components/schemas/OverfrequencyConnectionPointSafeguardFGen"
          maxItems: 4
          minItems: 1
      required:
        - connectionPointIds
        - safeguards
    ConnectionPointDeviceOverfrequencyConnectionPointSafeguardUGen:
      type: object
      properties:
        connectionPointIds:
          type: array
          items:
            type: integer
            format: int64
          maxItems: 4
          minItems: 1
        safeguards:
          type: array
          items:
            $ref: "#/components/schemas/OverfrequencyConnectionPointSafeguardUGen"
          maxItems: 4
          minItems: 1
      required:
        - connectionPointIds
        - safeguards
    ConnectionPointDeviceUnderfrequencyConnectionPointSafeguardFGen:
      type: object
      properties:
        connectionPointIds:
          type: array
          items:
            type: integer
            format: int64
          maxItems: 4
          minItems: 1
        safeguards:
          type: array
          items:
            $ref: "#/components/schemas/UnderfrequencyConnectionPointSafeguardFGen"
          maxItems: 4
          minItems: 1
      required:
        - connectionPointIds
        - safeguards
    ConnectionPointDeviceUnderfrequencyConnectionPointSafeguardUGen:
      type: object
      properties:
        connectionPointIds:
          type: array
          items:
            type: integer
            format: int64
          maxItems: 4
          minItems: 1
        safeguards:
          type: array
          items:
            $ref: "#/components/schemas/UnderfrequencyConnectionPointSafeguardUGen"
          maxItems: 4
          minItems: 1
      required:
        - connectionPointIds
        - safeguards
    FcrReserve:
      type: object
      properties:
        fcrReserveUpAbility:
          type: string
          description: Zdolność do regulacji pierwotnej w górę
          enum:
            - T
            - "N"
          example: T
        fcrReserveUpMin:
          type: number
          description: Minimalny zakres regulacji FCR w górę
          example: 123.123
          maximum: 999.999
          minimum: 0.00
        fcrReserveUpMax:
          type: number
          description: Maksymalny zakres regulacji FCR w górę
          example: 123.123
          maximum: 999.999
          minimum: 0.00
        fcrUpStaticScopeFrom:
          type: integer
          format: int32
          description: Zakres statyzmu w górę od
          example: 11
          maximum: 99
          minimum: 0
        fcrUpStaticScopeTo:
          type: integer
          format: int32
          description: Zakres statyzmu w górę do
          example: 11
          maximum: 99
          minimum: 0
        fcrUpStaticSetting:
          type: integer
          format: int32
          description: Przyjęta nastawa statyzmu w górę
          example: 11
          maximum: 99
          minimum: 0
        fcrUpDeadbandScopeFrom:
          type: integer
          format: int32
          description: Zakres strefy martwej w górę od
          example: 111
          maximum: 999
          minimum: 0
        fcrUpDeadbandScopeTo:
          type: integer
          format: int32
          description: Zakres strefy martwej w górę do
          example: 111
          maximum: 999
          minimum: 0
        fcrReserveDownAbility:
          type: string
          description: Zdolność do regulacji pierwotnej w dół
          enum:
            - T
            - "N"
          example: T
        fcrReserveDownMin:
          type: number
          description: Minimalny zakres regulacji FCR w dół
          example: 123.123
          maximum: 999.999
          minimum: 0.00
        fcrReserveDownMax:
          type: number
          description: Maksymalny zakres regulacji FCR w dół
          example: 123.123
          maximum: 999.999
          minimum: 0.00
        fcrDownStaticScopeFrom:
          type: integer
          format: int32
          description: Zakres statyzmu w dół od
          example: 11
          maximum: 99
          minimum: 0
        fcrDownStaticScopeTo:
          type: integer
          format: int32
          description: Zakres statyzmu w dół do
          example: 11
          maximum: 99
          minimum: 0
        fcrDownStaticSetting:
          type: integer
          format: int32
          description: Przyjęta nastawa statyzmu w dół
          example: 11
          maximum: 99
          minimum: 0
        fcrDownDeadbandScopeFrom:
          type: integer
          format: int32
          description: Zakres strefy martwej w dół od
          example: 111
          maximum: 999
          minimum: 0
        fcrDownDeadbandScopeTo:
          type: integer
          format: int32
          description: Zakres strefy martwej w dół do
          example: 111
          maximum: 999
          minimum: 0
    IslandSystems:
      type: object
      properties:
        islandModeActivationThreshold:
          type: number
          description: "Próg aktywacji trybu pracy wyspowej [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        delayTimeActiveIslandMode:
          type: integer
          format: int32
          description: "Czas zwłoki aktywacji trybu pracy wyspowej [s]"
          example: 99
          maximum: 99
          minimum: 0
        maxAllowedStepChangePIndCap:
          type: number
          description: "Maksymalna dopuszczalna skokowa zmiana mocy biernej indukcyjnej\
            \ i pojemnościowej [MVAr]"
          example: 1234.1
          maximum: 9999.9
          minimum: 0.00
        maxAllowedStepChangeLoad:
          type: number
          description: "Maksymalna dopuszczalna skokowa zmiana obciążenia [MW]"
          example: 1234.1
          maximum: 9999.9
          minimum: 0.00
        intervalTimeJumpLoads:
          type: integer
          format: int32
          description: "Czas przerwy pomiędzy dociążeniami skokowymi [min]"
          example: 9999999
          maximum: 9999999
          minimum: 0
        abilityApplyVGridSwitchgear:
          type: string
          description: "Zdolność do podania napięcia na rozdzielnię sieciową w stanie\
            \ beznapięciowym [T/N]"
          enum:
            - T
            - "N"
          example: "N"
        minFreqWithoutTimeLimit:
          type: number
          description: "Minimalna częstotliwość pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        maxFreqWithoutTimeLimit:
          type: number
          description: "Maksymalna częstotliwość pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        minFreqLimitTime:
          type: number
          description: "Minimalna częstotliwość pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        maxFreqLimitTime:
          type: number
          description: "Maksymalna częstotliwość pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        operationTimeMinFreq:
          type: integer
          format: int32
          description: "Czas pracy z minimalną częstotliwością [min]"
          example: 999
          maximum: 999
          minimum: 0
        operationTimeMaxFreq:
          type: integer
          format: int32
          description: "Czas pracy z maksymalną częstotliwością [min]"
          example: 999
          maximum: 999
          minimum: 0
        minVWithoutTimeLimitKv:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        minVWithoutTimeLimitPer:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVWithoutTimeLimitKv:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy bez ograniczeń czasowych\
            \ (praca w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVWithoutTimeLimitPer:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy bez ograniczeń czasowych\
            \ (praca w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        minVLimitTimeKv:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        minVLimitTimePer:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVLimitTimeKv:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVLimitTimePer:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        operationTimeMinVolt:
          type: integer
          format: int32
          description: "Czas pracy z minimalnym napięciem [min]"
          example: 999
          maximum: 999
          minimum: 0
        operationTimeMaxVolt:
          type: integer
          format: int32
          description: "Czas pracy z maksymalnym napięciem [min]"
          example: 999
          maximum: 999
          minimum: 0
        devFreqPattern:
          type: integer
          format: int32
          description: Wypracowanie wzorca częstotliwości
          example: 1
          maximum: 2
          minimum: 1
        devPatternTension:
          type: integer
          format: int32
          description: Wypracowanie wzorca napięcia
          example: 2
          maximum: 2
          minimum: 1
        syncFreqRangeFrom:
          type: number
          description: "Zakres częstotliwości synchronizacji - od [Hz]"
          example: 12.12
          maximum: 99.99
          minimum: 0.00
        syncFreqRangeTo:
          type: number
          description: "Zakres częstotliwości synchronizacji - do [Hz]"
          example: 12.12
          maximum: 99.99
          minimum: 0.00
        syncVoltRangePerFrom:
          type: integer
          format: int32
          description: "Zakres napięcia synchronizacji (w miejscu zamknięcia wyłą\
            cznika) - od [%UN]"
          example: 999
          maximum: 999
          minimum: 0
        syncVoltRangePerTo:
          type: integer
          format: int32
          description: "Zakres napięcia synchronizacji (w miejscu zamknięcia wyłą\
            cznika) - do [%UN]"
          example: 999
          maximum: 999
          minimum: 0
        syncVoltRangeKvFrom:
          type: integer
          format: int32
          description: "Zakres napięcia synchronizacji (w miejscu zamknięcia wyłą\
            cznika) - od [kV]"
          example: 999
          maximum: 999
          minimum: 0
        syncVoltRangeKvTo:
          type: integer
          format: int32
          description: "Zakres napięcia synchronizacji (w miejscu zamknięcia wyłą\
            cznika) - do [kV]"
          example: 999
          maximum: 999
          minimum: 0
        powerSideNetProvPossOperation:
          type: integer
          format: int32
          description: "Moc zwarciowa od strony sieci, przy której MWE zapewnia moż\
            liwość pracy [MVA]"
          example: 99999
          maximum: 99999
          minimum: 0
        virtualSyncMachineMode:
          type: string
          description: Tryb virtual synchronous machine mode
          enum:
            - T
            - "N"
          example: T
      required:
        - abilityApplyVGridSwitchgear
        - delayTimeActiveIslandMode
        - devFreqPattern
        - devPatternTension
        - intervalTimeJumpLoads
        - islandModeActivationThreshold
        - maxAllowedStepChangeLoad
        - maxAllowedStepChangePIndCap
        - maxFreqLimitTime
        - maxFreqWithoutTimeLimit
        - maxVLimitTimeKv
[...]
