openapi: 3.1.0
info:
  title: Kanał B2B dla zgłaszania danych strukturalnych
  description: Opis komunikatów przyjmowanych przez aplikację PWDS poprzez kanał B2B
  version: "0.1"
servers:
  - url: https://b2b.pse.pl
    description: Serwer B2B PSE
security:
  - Bearer-Auth: []
tags:
  - name: Operacje linii wyprowadzenia mocy
    description: Standardowe operacje dotyczące zgłoszeń linii wyprowadzenia mocy
  - name: Operacje sprzęgła
    description: Standardowe operacje dotyczące zgłoszeń sprzęgła
  - name: Operacje wspólne rejestracji
    description: Standardowe operacje dotyczące zgłoszeń rejestracji
  - name: Operacje rozdzielni
    description: Standardowe operacje dotyczące zgłoszeń rozdzielni
  - name: Operacje filtra
    description: Standardowe operacje dotyczące zgłoszeń filtra
  - name: Operacje stacji elektroenergetycznej
    description: Standardowe operacje dotyczące zgłoszeń stacji elektroenergetycznej
  - name: Operacje szyny
    description: Standardowe operacje dotyczące zgłoszeń szyny
  - name: Operacje linii elektroenergetycznej
    description: Standardowe operacje dotyczące zgłoszeń linii elektroenergetycznej
  - name: Operacje transformatora
    description: Standardowe operacje dotyczące zgłoszeń transformatora
  - name: Operacje baterii kondensatora
    description: Standardowe operacje dotyczące zgłoszeń baterii kondensatora
  - name: Operacje Pola
    description: Standardowe operacje dotyczące zgłoszeń rejestracyjnych i strukturalnych
      pola
  - name: Operacje ZWE
    description: Standardowe operacje dotyczące zgłoszeń ZWE
  - name: Operacje Sumy A
    description: Standardowe operacje dotyczące zgłoszeń Sum A
  - name: Operacje dławika kompensacyjnego
    description: Standardowe operacje dotyczące zgłoszeń  dławika kompensacyjnego
  - name: Operacje MWE
    description: Standardowe operacje dotyczące zgłoszeń MWE
  - name: Operacje wspólne strukturalne
    description: Standardowe operacje dotyczące zgłoszeń strukturalnych
  - name: Operacje magazynu
    description: Standardowe operacje dotyczące zgłoszeń magazynów
paths:
  /switchgear/registration:
    post:
      tags:
        - Operacje rozdzielni
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: switchgear-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.SwitchgearRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /switchgear/change:
    post:
      tags:
        - Operacje rozdzielni
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: switchgear-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.SwitchgearChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /sum-a/registration:
    post:
      tags:
        - Operacje Sumy A
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: sum-a-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.sumA.SumARegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /sum-a/change:
    post:
      tags:
        - Operacje Sumy A
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: sum-a-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.sumA.SumAChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /substation/registration:
    post:
      tags:
        - Operacje stacji elektroenergetycznej
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: substation-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.substation.registration.request.SubstationRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /substation/change:
    post:
      tags:
        - Operacje stacji elektroenergetycznej
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: substation-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.substation.SubstationChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /storage/registration:
    post:
      tags:
        - Operacje magazynu
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: storage-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.storage.StorageRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /storage/change:
    post:
      tags:
        - Operacje magazynu
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: storage-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.storage.StorageChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-filter/registration:
    post:
      tags:
        - Operacje filtra
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: shunt-filter-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.shuntFilter.registration.request.ShuntFilterRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-filter/change:
    post:
      tags:
        - Operacje filtra
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: shunt-filter-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.shuntFilter.ShuntFilterChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-compensator/registration:
    post:
      tags:
        - Operacje dławika kompensacyjnego
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: shunt-compensator-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.shuntCompensators.registration.request.ShuntCompensatorRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-compensator/change:
    post:
      tags:
        - Operacje dławika kompensacyjnego
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: shunt-compensator-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.shuntCompensator.ShuntCompensatorChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-capacitors/registration:
    post:
      tags:
        - Operacje baterii kondensatora
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: shunt-capacitors-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.shuntCapacitors.registration.request.ShuntCapacitorsRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-capacitors/change:
    post:
      tags:
        - Operacje baterii kondensatora
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: shunt-capacitors-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.shuntCapacitors.ShuntCapacitorsChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-transformer/registration:
    post:
      tags:
        - Operacje transformatora
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: power-transformer-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.powerTransformer.registration.request.PowerTransformerRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-transformer/change:
    post:
      tags:
        - Operacje transformatora
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: power-transformer-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.transformer.PowerTransformerChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-output-lines/registration:
    post:
      tags:
        - Operacje linii wyprowadzenia mocy
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: power-output-lines-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerOutputLinesRegistration"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-output-lines/change:
    post:
      tags:
        - Operacje linii wyprowadzenia mocy
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: power-output-lines-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.powerOutputLines.PowerOutputLinesChange"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-line/registration:
    post:
      tags:
        - Operacje linii elektroenergetycznej
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: power-lines-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.powerLines.PowerLinesRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-line/change:
    post:
      tags:
        - Operacje linii elektroenergetycznej
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: power-lines-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.powerLines.PowerLinesChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /mwe/registration:
    post:
      tags:
        - Operacje MWE
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: mwe-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.registration.dto.request.RegistrationRequestRequestDto"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /mwe/change:
    post:
      tags:
        - Operacje MWE
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: mwe-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.ChangeRequestRequestDto"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /facility/registration:
    post:
      tags:
        - Operacje ZWE
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: facility-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.facility.dto.request.FacilityRegistrationRequestDto"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /facility/change:
    post:
      tags:
        - Operacje ZWE
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: facility-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.facility.dto.change.request.FacilityChangeRequestDto"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /coupler/registration:
    post:
      tags:
        - Operacje sprzęgła
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: coupler-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.coupler.registration.CouplerRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /coupler/change:
    post:
      tags:
        - Operacje sprzęgła
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: coupler-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.coupler.CouplerChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /busbar-section/registration:
    post:
      tags:
        - Operacje szyny
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: busbar-section-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.busbar.registration.request.BusbarRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /busbar-section/change:
    post:
      tags:
        - Operacje szyny
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: busbar-section-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.busbarSection.BusbarSectionChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /bay/registration:
    post:
      tags:
        - Operacje Pola
      summary: Przesłanie zgłoszenia rejestracyjnego
      operationId: bay-save-registration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.bay.registration.request.BayRegistrationRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń rejestracyjnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /bay/change:
    post:
      tags:
        - Operacje Pola
      summary: Przesłanie zgłoszenia strukturalnego
      operationId: bay-save-change
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.bay.BayChangeRequest"
        required: true
      responses:
        "200":
          description: Zapisywanie zgłoszeń strukturalnych
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /switchgear/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje rozdzielni
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: switchgear-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /sum-a/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje Sumy A
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: sum-a-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /substation/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje stacji elektroenergetycznej
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: substation-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /storage/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje magazynu
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: storage-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-filter/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje filtra
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: shunt-filter-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-compensator/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje dławika kompensacyjnego
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: shunt-compensator-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /shunt-capacitors/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje baterii kondensatora
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: shunt-capacitors-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-transformer/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje transformatora
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: power-transformer-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-output-lines/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje linii wyprowadzenia mocy
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: power-output-lines-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /power-line/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje linii elektroenergetycznej
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: power-lines-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /mwe/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje MWE
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: mwe-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /facility/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje ZWE
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: facility-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /coupler/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje sprzęgła
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: coupler-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /common/registration/{restSubmitRequestUid}/status:
    get:
      tags:
        - Operacje wspólne rejestracji
      summary: Sprawdzenie statusu zgłoszenia rejestracyjnego
      operationId: common-registration-get-registration-request-status
      parameters:
        - name: restSubmitRequestUid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pobranie statusu dla zgłoszenia po uuid zgłoszenia
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitStatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /common/change/{restSubmitRequestUid}/status:
    get:
      tags:
        - Operacje wspólne strukturalne
      summary: Sprawdzenie statusu zgłoszenia strukturalnego
      operationId: common-change-get-change-request-status
      parameters:
        - name: restSubmitRequestUid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pobranie statusu dla zgłoszenia po uuid zgłoszenia
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.RestSubmitStatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /busbar-section/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje szyny
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: busbar-section-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
  /bay/{mrid}/{validFromDate}:
    get:
      tags:
        - Operacje Pola
      summary: Pobieranie danych strukturalnych poprzez MRID oraz datę obowiązywania
        parametrów
      operationId: bay-get
      parameters:
        - name: mrid
          in: path
          description: Mrid obiektu
          required: true
          schema:
            type: string
            description: Mrid obiektu
            example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
            minLength: 1
          example: _2ee2132e-9c74-425a-a31b-82b65c3c4a03
        - name: validFromDate
          in: path
          description: Data obowiązywania parametrów (od)
          required: true
          schema:
            type: string
            format: date
            description: Data obowiązywania parametrów (od)
            example: 2024-10-31
          example: 2024-10-31
      responses:
        "200":
          description: Znalezione zgłoszenie strukturalne
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.response.ChangeRequestResponseDto"
        "404":
          description: Brak zgłoszenia o tych parametrach (MRID oraz data obowiązywania
            parametrów)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.BaseErrorResponse"
components:
  schemas:
    pl.pse.psi.pwds.common.dto.common.FileUploadDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: ID pliku w systemie PWDS
          example: 100
        object:
          type: string
          description: Unikatowy identyfikator pliku (nazwa obiektu) w systemie PWDS
          example: bfca7b1e-5b86-4b37-9b3f-4c81b8d5c848_dane.txt
        objectMrid:
          type: string
          description: Identyfikator obiektu związanego z plikiem
          example: _f557b5b8-8615-4100-955a-08bb28c7637e
        originalFileName:
          type: string
          description: Oryginalna nazwa pliku
          example: dane.txt
        createdTs:
          type: string
          format: date-time
          description: Data dodania
        origin:
          type: string
          description: Źródło pliku
          enum:
            - PWDS
            - RBES
          example: PWDS
      title: FileUploadDto
    pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator partnera biznesowego
          example: 10101
      required:
        - id
      title: BusinessPartnerRequestDto
    pl.pse.psi.pwds.common.dto.request.NominalVoltageRequestDto:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID nominalnego napięcia
          example: _075cdeec-0137-4eb9-b35c-543d5fcb1705
      title: NominalVoltageRequestDto
    pl.pse.psi.pwds.common.dto.request.SubstationRequestDto:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID stacji
      required:
        - mrid
      title: SubstationRequestDto
    pl.pse.psi.pwds.powerGrid.common.RegistrationTerms:
      type: object
      properties:
        operationStartDate:
          type: string
          format: date
          description: Data wprowadzenia do eksploatacji
          example: 2024-11-01
        operationEndDate:
          type: string
          format: date
          description: Data zakończenia eksploatacji
          example: 2025-10-31
      required:
        - operationStartDate
      title: RegistrationTerms
    pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.DefenseReconstruction:
      type: object
      description: Obrona i odbudowa
      properties:
        isInKseReconstructionPlan:
          type: string
          description: "Rozdzielnia istotna w planie odbudowy KSE, domyślnie Tak"
          enum:
            - T
            - "N"
          example: T
      title: DefenseReconstruction
    pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.SwitchgearRegistrationParamsRequest:
      type: object
      description: "Zgłoszenie rejestracji rozdzielni - parametry, żądanie"
      properties:
        substation:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.SubstationRequestDto"
          description: Identyfikator MRID stacji
          example: _f402adb8-1553-4d4a-946a-20e9b67b0ba8
        voltage:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.NominalVoltageRequestDto"
          description: Identyfikator MRID napięcia znamionowego rozdzielni
          example: _a24bbc66-812e-40b0-9076-32ed1d74b6a6
        name:
          type: string
          description: Kod rozdzielni
          example: NWW55
          maxLength: 32
          minLength: 1
        shortName:
          type: string
          description: Krótki opis rozdzielni
          example: NWW55_15
          maxLength: 8
          minLength: 5
        description:
          type: string
          description: Nazwa pełna rozdzielni
          example: Nowa Wieś Wielka 15 kV
          maxLength: 65
          minLength: 1
        owningBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy - właściciel
          example: 19000
        businessPartnerCountryId:
          type: string
          description: Identyfikator partnera biznesowego - kod kraju
          example: PL
        odmBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy - ODM/TSO
          example: 19030
        osdpBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy - Oddział OSDp 1
          example: 19000
        osdpBusinessPartner2:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy - Oddział OSDp 2
          example: 10277
        osdnBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy - OSDn
          example: 10277
        sesaId:
          type: integer
          format: int64
          description: Identyfikator podobszaru KSE
          example: 15
        latitude:
          type: string
          description: "Szerokość geograficzna [N] DD F"
          example: 50.0
          pattern: "\\d{2}\\.\\d{6}"
        longitude:
          type: string
          description: "Długość geograficzna [E] DD F"
          example: 15.0
          pattern: "\\d{2}\\.\\d{6}"
        diagramFileUploadInfo:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.common.FileUploadDto"
          description: "Plik w systemie MinIO PWDS: Schemat i układ pracy rozdzielni"
      required:
        - businessPartnerCountryId
        - description
        - latitude
        - longitude
        - odmBusinessPartner
        - osdpBusinessPartner
        - owningBusinessPartner
        - shortName
        - substation
        - voltage
      title: SwitchgearRegistrationParamsRequest
    pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.SwitchgearRegistrationRequest:
      type: object
      description: "Zgłoszenie rejestracji rozdzielni, żądanie"
      properties:
        registrationTerms:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.common.RegistrationTerms"
          description: Istotne daty
        basicData:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.SwitchgearRegistrationParamsRequest"
          description: Dane podstawowe
        defenseReconstruction:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.DefenseReconstruction"
          description: Obrona i odbudowa
      title: SwitchgearRegistrationRequest
    pl.pse.psi.pwds.b2b.rest.RestSubmitResponse:
      type: object
      properties:
        restSubmitRequestUid:
          type: string
          format: uuid
          description: "Unikalne ID nadane przez system PSE, które służy do identyfikacji\
            \ procesu przesłania zgłoszenia"
          example: 550e8400-e29b-41d4-a716-446655440000
      required:
        - restSubmitRequestUid
    pl.pse.psi.pwds.b2b.rest.BaseErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Ogólne podsumowanie błędu
        violations:
          type: array
          description: Lista błędów szczegółowych
          items:
            type: string
    pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.SwitchgearChangeRequest:
      type: object
      description: "Zgłoszenie strukturalne rozdzielni, żądanie"
      properties:
        registrationTerms:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.common.RegistrationTerms"
          description: Istotne daty
        basicData:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.SwitchgearRegistrationParamsRequest"
          description: Dane podstawowe
        defenseReconstruction:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.switchgear.registration.dto.DefenseReconstruction"
          description: Obrona i odbudowa
        objectMrid:
          type: string
        validFromDate:
          type: string
          format: date
      title: SwitchgearChangeRequest
    pl.pse.psi.pwds.b2b.rest.sumA.SumARegistrationRequest:
      type: object
      description: Zgłoszenie sum A
      properties:
        dateFor:
          type: string
          format: date
          description: Data obowiązywania parametrów sumy MWE typu A
          example: 2024-11-01
        osdpBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Oddział OSDp
        osdnBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy OSDn
        odmBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: ODM
        sumAggregates:
          type: array
          description: Agregaty Sum A per uzwojenie transformatora
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.sumA.SumAggregate"
      required:
        - dateFor
      title: SumARegistrationRequest
    pl.pse.psi.pwds.b2b.rest.sumA.SumAggregate:
      type: object
      description: Agregat Sum A dla uzwojenia transformatora
      properties:
        powerTransformerEndRequestDto:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.PowerTransformerEndRequestDto"
          description: Uzwojenie transformatora
        sums:
          type: array
          description: Sumy A dla poszczególnych typów
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.sumA.SumPerType"
          minItems: 1
      required:
        - powerTransformerEndRequestDto
        - sums
      title: SumAggregate
    pl.pse.psi.pwds.b2b.rest.sumA.SumPerType:
      type: object
      description: Obiekt agregujący sumy A dla danego źródła energii
      properties:
        type:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.FuelTypeRequestDto"
          description: Typ źródła energii
        sumLess10kw:
          type: number
          description: "Suma mocy zainstalowanej dla Pz <= 10kW [MW]"
          maximum: 999999.99
          minimum: 0
        sumLess10to50kw:
          type: number
          description: "Suma mocy zainstalowanej dla 10 < Pz <= 50kW [MW]"
          maximum: 999999.99
          minimum: 0
        sumLess50to200kw:
          type: number
          description: "Suma mocy zainstalowanej dla 50 < Pz < 200kW [MW]"
          maximum: 999999.99
          minimum: 0
      required:
        - type
      title: SumPerType
    pl.pse.psi.pwds.common.dto.request.FuelTypeRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator typu źródła energii pierwotnej
          example: 1
      required:
        - id
      title: FuelTypeRequestDto
    pl.pse.psi.pwds.common.dto.request.PowerTransformerEndRequestDto:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID uzwojenia tranformatora
      title: PowerTransformerEndRequestDto
    pl.pse.psi.pwds.b2b.rest.sumA.SumAChangeRequest:
      type: object
      description: Zgłoszenie aktualizacji sum A
      properties:
        dateFor:
          type: string
          format: date
          description: Data obowiązywania parametrów sumy MWE typu A
          example: 2024-11-01
        osdpBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Oddział OSDp
        osdnBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy OSDn
        odmBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: ODM
        sumAggregates:
          type: array
          description: Agregaty Sum A per uzwojenie transformatora
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.b2b.rest.sumA.SumAggregate"
      required:
        - dateFor
      title: SumAChangeRequest
    pl.pse.psi.pwds.common.dto.request.DictionaryRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator wartości słownikowej
          example: 1
      required:
        - id
      title: DictionaryRequestDto
    pl.pse.psi.pwds.powerGrid.substation.registration.request.SubstationBasicDataRequest:
      type: object
      properties:
        shortName:
          type: string
          description: Kod stacji
          maxLength: 4
          minLength: 3
        description:
          type: string
          description: Nazwa stacji
          maxLength: 60
          minLength: 1
        businessPartnerCountryId:
          type: string
          description: Kraj
          pattern: ^PL$
        substationType:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.DictionaryRequestDto"
          description: Typ stacji
        owningBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Właściciel
        osdpBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Oddział OSDp
        osdnBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: Partner biznesowy OSDn
        odmBusinessPartner:
          $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.request.BusinessPartnerRequestDto"
          description: ODM
        latitude:
          type: number
          format: double
          description: Szerokość geograficzna
          example: 50.0
          maximum: 56.0
          minimum: 49.0
        longitude:
          type: number
          format: double
          description: Długość geograficzna
          example: 15.0
          maximum: 25.0
          minimum: 15.0
      required:
        - businessPartnerCountryId
        - description
        - latitude
        - longitude
        - odmBusinessPartner
        - osdpBusinessPartner
        - owningBusinessPartner
        - shortName
        - substationType
      title: SubstationBasicDataRequest
    pl.pse.psi.pwds.powerGrid.substation.registration.request.SubstationRegistrationRequest:
      type: object
      description: Zgłoszenie rejestracji stacji elektroenergetycznej
      properties:
        registrationTerms:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.common.RegistrationTerms"
          description: Zgłoszenie rejestracji stacji elektroenergetycznej - istotne
            terminy
        basicData:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.substation.registration.request.SubstationBasicDataRequest"
          description: Zgłoszenie rejestracji stacji elektroenergetycznej - dane podstawowe
      required:
        - basicData
        - registrationTerms
      title: SubstationRegistrationRequest
    pl.pse.psi.pwds.b2b.rest.substation.SubstationChangeRequest:
      type: object
      description: Zgłoszenie strukturalne stacji elektroenergetycznej
      properties:
        registrationTerms:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.common.RegistrationTerms"
          description: Zgłoszenie strukturalne stacji elektroenergetycznej - istotne
            terminy
        basicData:
          $ref: "#/components/schemas/pl.pse.psi.pwds.powerGrid.substation.registration.request.SubstationBasicDataRequest"
          description: Zgłoszenie strukturalne stacji elektroenergetycznej - dane
            podstawowe
      required:
        - basicData
        - registrationTerms
      title: SubstationChangeRequest
    OverfrequencyConnectionPointSafeguardFGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        frequencyLevel:
          type: number
          description: Poziom nastawy
          example: 12.1
          maximum: 99.9
          minimum: 0.0
      required:
        - frequencyLevel
      title: OverfrequencyConnectionPointSafeguardFGen
    OverfrequencyConnectionPointSafeguardUGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        voltageLevel:
          type: number
          description: Poziom napięcia
          example: 9999.999
          maximum: 9999.999
          minimum: 0.0
      required:
        - voltageLevel
      title: OverfrequencyConnectionPointSafeguardUGen
    OverfrequencyMeeSafeguardFGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        frequencyLevel:
          type: number
          description: Poziom nastawy
          example: 12.1
          maximum: 99.9
          minimum: 0.0
      required:
        - frequencyLevel
      title: OverfrequencyMeeSafeguardFGen
    OverfrequencyMeeSafeguardUGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        voltageLevel:
          type: number
          description: Poziom napięcia
          example: 9999.999
          maximum: 9999.999
          minimum: 0.0
      required:
        - voltageLevel
      title: OverfrequencyMeeSafeguardUGen
    UnderfrequencyConnectionPointSafeguardFGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        frequencyLevel:
          type: number
          description: Poziom nastawy
          example: 12.1
          maximum: 99.9
          minimum: 0.0
      required:
        - frequencyLevel
      title: UnderfrequencyConnectionPointSafeguardFGen
    UnderfrequencyConnectionPointSafeguardUGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        voltageLevel:
          type: number
          description: Poziom napięcia
          example: 9999.999
          maximum: 9999.999
          minimum: 0.0
      required:
        - voltageLevel
      title: UnderfrequencyConnectionPointSafeguardUGen
    UnderfrequencyMeeSafeguardFGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        frequencyLevel:
          type: number
          description: Poziom nastawy
          example: 12.1
          maximum: 99.9
          minimum: 0.0
      required:
        - frequencyLevel
      title: UnderfrequencyMeeSafeguardFGen
    UnderfrequencyMeeSafeguardUGen:
      type: object
      properties:
        threshold:
          type: integer
          format: int32
          description: "Numer progu, jeżeli brakuje jest wyciągnięty z indeksu"
          example: 1
        value:
          type: number
        timeDelay:
          type: number
          description: Zwłoka czasowa
          example: 12.1
          maximum: 99.9
          minimum: 0.0
        pointOfInfluence:
          type: string
          description: Miejsce oddziaływania
          enum:
            - SIGNAL_BOX
            - SIGNAL_BOX_CP
            - MAIN_SWITCH_CP
            - GENERATOR_SWITCH
            - BLOCK_SWITCH
            - SIGNAL_BOX_OZE
          example: SIGNAL_BOX
        effectOfAction:
          type: string
          description: Skutek zadziałania
          enum:
            - ALARM
            - SHUTDOWN
          example: ALARM
        voltageLevel:
          type: number
          description: Poziom napięcia
          example: 9999.999
          maximum: 9999.999
          minimum: 0.0
      required:
        - voltageLevel
      title: UnderfrequencyMeeSafeguardUGen
    pl.pse.psi.pwds.common.dto.request.BayRequestDto:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID pola
      required:
        - mrid
      title: BayRequestDto
    pl.pse.psi.pwds.common.dto.request.BusbarSectionRequestDto:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID węzła/sekcji szyny zbiorczej
      title: BusbarSectionRequestDto
    pl.pse.psi.pwds.common.dto.request.GenerationTechnologyRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Identyfikator technologii wytwarzania i magazynowania energii
          example: 1
      required:
        - id
      title: GenerationTechnologyRequestDto
    pl.pse.psi.pwds.common.dto.request.PowerTransformerRequestDto:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID tranformatora
      title: PowerTransformerRequestDto
    pl.pse.psi.pwds.common.dto.request.SwitchgearRequestDto:
      type: object
      properties:
        mrid:
          type: string
          description: Identyfikator mRID rozdzielni
      required:
        - mrid
      title: SwitchgearRequestDto
    pl.pse.psi.pwds.storage.StorageRegistrationRequest:
      type: object
      description: Zgłoszenie rejestracji magazynu energii
      properties:
        terms:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.StorageImportantDates"
          description: Istotne terminy
        connectionPoints:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.StorageConnectionPoints"
          description: Identyfikacja miejsca przyłączenia
        identityParams:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.StorageIdentification"
          description: Dane identyfikacyjne MWE
        markers:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.StorageMarker"
          description: Znaczniki
        powerParams:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.StoragePowerParams"
          description: Parametry mocowe
        baseLoadAndRrConsumption:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.BaseLoadAndRrRequestDto"
          description: Obciążenia Bazowe (EB) i rezerwa RR - pobór
        baseLoadAndRrGeneration:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.BaseLoadAndRrRequestDto"
          description: Obciążenia Bazowe (EB) i rezerwa RR - generacja
        fcrReserveDtoConsumption:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.FcrReserveDto"
          description: Rezerwy FCR - pobór
        fcrReserveDtoGeneration:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.FcrReserveDto"
          description: Rezerwy FCR - generacja
        affrConsumption:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.SecReserveConsumptionRequestDto"
          description: Rezerwa aFRR - pobór
        affrGeneration:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.SecReserveConsumptionRequestDto"
          description: Rezerwa aFRR - generacja
        mfrrdConsumption:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.MfrrdReserveDto"
          description: Rezerwa mFRRd - pobór
        mfrrdGeneration:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.MfrrdReserveDto"
          description: Rezerwa mFRRd - generacja
        regulationModes:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.RegulationModes"
          description: Tryby regulacji
        qfuCharacteristics:
          type: array
          description: Charakterystyki Q=f(U)
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.QfuCharacteristicsRequestDto"
        pfuCharacteristics:
          type: array
          description: Charakterystyki P=f(U)
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.PfuCharacteristicsRequestDto"
        qfpCharacteristics:
          type: array
          description: Charakterystyki Q=f(P)
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.QfpCharacteristicsRequestDto"
        lfsmCons:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.LfsmRequestDto"
          description: LFSM - pobór
        lfsmGen:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.request.LfsmRequestDto"
          description: LFSM - generacja
        mvmtActivePowerReduction:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.MvmtActivePowerReduction"
          description: Redukcja mocy czynnej
        mvmtRemoteControl:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.MvmtRemoteControl"
          description: "Zdalne sterowanie Q,U,cos φ"
        mvmtRegulationSystems:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.MvmtRegulationSystems"
          description: Układy regulacji
        mvmtRedistribution:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.MvmtDispositions"
          description: Redysponowanie
        stoppingConds:
          $ref: "#/components/schemas/pl.pse.psi.pwds.structural.dto.common.StoppingCondsDto"
          description: Postój
        autonomousStart:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.AutonomousStart"
          description: Rozruch autonomiczny
        islandSystems:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.IslandSystems"
          description: Praca w układach wyspowych
        startupConditions:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.StartupConditions"
          description: Warunki uruchomienia
        lvfrtSym:
          type: array
          description: Lista plików LVFRT - zdolność do utrzymania w pracy podczas
            zwarcia symetrycznego
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.common.FileUploadDto"
        lvfrtAsym:
          type: array
          description: Lista plików LVFRT - zdolność do utrzymania w pracy podczas
            zwarcia niesymetrycznego
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.common.FileUploadDto"
        hvfrtFiles:
          type: array
          description: Lista plików HVFRT - zdolność do utrzymania w pracy przy podwyższonym
            napięciu
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.common.FileUploadDto"
        ifuSym:
          type: array
          description: Lista plików I=f(U) - Zdolność do generacji szybkiego prądu
            zwarciowego dla zwarcia symetrycznego charakterystyka statyczna
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.common.FileUploadDto"
        ifuAsym:
          type: array
          description: Lista plików I=f(U) - Zdolność do generacji szybkiego prądu
            zwarciowego dla zwarcia niesymetrycznego charakterystyka statyczna
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.common.FileUploadDto"
        safeguardsU:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.SafeguardsU"
          description: Zabezpieczenia U
        safeguardsF:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.SafeguardsF"
          description: Zabezpieczenia f
        telemetry:
          $ref: "#/components/schemas/pl.pse.psi.pwds.storage.elements.Telemetry"
          description: Dane telemetryczne
        powerOutputDiagrams:
          type: array
          description: Lista plików schematów wyprowadzenia mocy
          items:
            $ref: "#/components/schemas/pl.pse.psi.pwds.common.dto.common.FileUploadDto"
      title: StorageRegistrationRequest
    pl.pse.psi.pwds.storage.elements.AutonomousStart:
      type: object
      description: Rozruch autonomiczny
      properties:
        autonomousStartAbility:
          type: string
          description: Zdolność do rozruchu autonomicznego
          enum:
            - T
            - "N"
          example: T
        timeUntilVoltageOnSwitchgear:
          type: integer
          format: int32
          description: Czas podania napięcia na rozdzielnię sieciową w stanie beznapięciowym
          example: T
          maximum: 9999
          minimum: 0
        ownNeedsPowerSourcePower:
          type: number
          description: "Moc źródła awaryjnego zasilania potrzeb własnych [MW]"
          example: 1234.123
          maximum: 9999.999
          minimum: 0.000
        maxTimePowerAggregateNoFuel:
          type: integer
          format: int32
          description: Maksymalny czas pracy zasilania awaryjnego przy braku dostaw
            paliwa z zewnątrz
          example: 12
          maximum: 9999999
          minimum: 0
        aggregateFuelSupply:
          type: string
          description: Zapewnienie dostaw paliwa dla agregatu
          enum:
            - ARMY
            - OWN
            - LOCAL_CRISIS_TEAM
          example: ARMY
      required:
        - timeUntilVoltageOnSwitchgear
      title: AutonomousStart
    pl.pse.psi.pwds.storage.elements.IslandSystems:
      type: object
      properties:
        islandModeActivationThreshold:
          type: number
          description: "Próg aktywacji trybu pracy wyspowej [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        delayTimeActiveIslandMode:
          type: integer
          format: int32
          description: "Czas zwłoki aktywacji trybu pracy wyspowej [s]"
          example: 99
          maximum: 99
          minimum: 0
        maxAllowedStepChangePIndCap:
          type: number
          description: "Maksymalna dopuszczalna skokowa zmiana mocy biernej indukcyjnej\
            \ i pojemnościowej [MVAr]"
          example: 1234.1
          maximum: 9999.9
          minimum: 0.00
        maxAllowedStepChangeLoad:
          type: number
          description: "Maksymalna dopuszczalna skokowa zmiana obciążenia [MW]"
          example: 1234.1
          maximum: 9999.9
          minimum: 0.00
        intervalTimeJumpLoads:
          type: integer
          format: int32
          description: "Czas przerwy pomiędzy dociążeniami skokowymi [min]"
          example: 9999999
          maximum: 9999999
          minimum: 0
        abilityApplyVGridSwitchgear:
          type: string
          description: "Zdolność do podania napięcia na rozdzielnię sieciową w stanie\
            \ beznapięciowym [T/N]"
          enum:
            - T
            - "N"
          example: "N"
        minFreqWithoutTimeLimit:
          type: number
          description: "Minimalna częstotliwość pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        maxFreqWithoutTimeLimit:
          type: number
          description: "Maksymalna częstotliwość pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        minFreqLimitTime:
          type: number
          description: "Minimalna częstotliwość pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        maxFreqLimitTime:
          type: number
          description: "Maksymalna częstotliwość pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [Hz]"
          example: 12.123
          maximum: 99.999
          minimum: 0.00
        operationTimeMinFreq:
          type: integer
          format: int32
          description: "Czas pracy z minimalną częstotliwością [min]"
          example: 999
          maximum: 999
          minimum: 0
        operationTimeMaxFreq:
          type: integer
          format: int32
          description: "Czas pracy z maksymalną częstotliwością [min]"
          example: 999
          maximum: 999
          minimum: 0
        minVWithoutTimeLimitKv:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        minVWithoutTimeLimitPer:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy bez ograniczeń czasowych (praca\
            \ w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVWithoutTimeLimitKv:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy bez ograniczeń czasowych\
            \ (praca w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVWithoutTimeLimitPer:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy bez ograniczeń czasowych\
            \ (praca w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        minVLimitTimeKv:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        minVLimitTimePer:
          type: integer
          format: int32
          description: "Minimalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVLimitTimeKv:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [kV]"
          example: 9999
          maximum: 9999
          minimum: 0
        maxVLimitTimePer:
          type: integer
          format: int32
          description: "Maksymalny poziom napięcia pracy w ograniczonym czasie (praca\
            \ w stanie przyłączonym do KSE) [%UN]"
          example: 9999
          maximum: 9999
          minimum: 0
        operationTimeMinVolt:
          type: integer
          format: int32
          description: "Czas pracy z minimalnym napięciem [min]"
          example: 999
          maximum: 999
          minimum: 0
        operationTimeMaxVolt:
          type: integer
          format: int32
          description: "Czas pracy z maksymalnym napięciem [min]"
          example: 999
          maximum: 999
          minimum: 0
        devFreqPattern:
          type: integer
          format: int32
          description: Wypracowanie wzorca częstotliwości
          example: 1
          maximum: 2
          minimum: 1
        devPatternTension:
          type: integer
          format: int32
          description: Wypracowanie wzorca napięcia
          example: 2
          maximum: 2
          minimum: 1
        syncFreqRangeFrom:
          type: number
          description: "Zakres częstotliwości synchronizacji - od [Hz]"
          example: 12.12
          maximum: 99.99
          minimum: 0.00
        syncFreqRangeTo:
          type: number
          description: "Zakres częstotliwości synchronizacji - do [Hz]"
          example: 12.12
          maximum: 99.99
[...]
